RewriteEngine on

# https rewrite starts here

RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://eoifilms.co.za/$1 [R=301,L]

# mod_rewrite one starts here

# Does not apply to existing directories, meaning that if the folder exists on the server then don,t change anything and don't run the rule!

RewriteCond %{REQUEST_FILENAME} !-d

# Check for file in directory with .html extension

RewriteCond %{REQUEST_FILENAME}\.html -f

# Show the page with .html extension

RewriteRule ^(.*)$ $1.html [NC,L]



# mod_rewrite two starts here

RewriteEngine on

# Does not apply to existing directories, meaning that if the folder exists on the server then don,t change anything and don't run the rule!

RewriteCond %{REQUEST_FILENAME} !-d

# Check for file in directory with .php extension

RewriteCond %{REQUEST_FILENAME}\.php -f

# Show the page with .php extension

RewriteRule ^(.*)$ $1.php [NC,L]